.contact-container {
  position: relative;
  flex-direction: column;
  margin-bottom: 12rem;
}

.contact-header {
  color: #1b1725;
  font-size: 3.6rem;
  font-family: "Lora";
  margin-bottom: 1.2rem;
  line-height: 1;
  border-bottom: 3px solid;
  border-image: linear-gradient(45deg, #4776e6, #8e54e9) 1 0;
  margin-bottom: 2rem;
}

.contact-subheading {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.contact-content {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
}

.success-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;
  overflow: hidden;
}

.success-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1rem 4rem 2rem 4rem;
  border-radius: 10px;
  color: #495057;
}

.success-modal-header {
  color: #1b1725;
  margin: 1rem 0 0.4rem 0;
}

.success-modal-icon {
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 999px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.pattern {
  position: absolute;
  width: 240px;
  height: 160px;
  top: 260px;
  left: -420px;
  background-color: rgba(255, 255, 255, 0.274);
  z-index: -1;
}

@media (max-width: 57em) {
  .contact-container {
    margin-bottom: 10rem;
  }
}
